* {
    margin: 0;
}
.topbar {
   display:flex;
   justify-content: space-between;
    padding:1em;
   background:rgb(214, 214, 214);
    color:black; 
    font-size: 10px;
    height: 2vh;
}

.topbar img {
    height: 3vh ;
    border-radius: 100px;
}

.topleft {
    display:flex;
    justify-content:space-between;
    width:7em;
}


.topright {
    display:flex;
    justify-content: space-between;
    width: 10em;

}
.main{
    display:grid;
    grid-template-columns: 30% 70%;
    min-height: 98vh
}



.chats {
    background-image:url("./pictures/whatsback.jpg")
}

.search {
    background-color: whitesmoke;
    display:flex;

    height: 5vh;
   
    border: 0.5px solid rgb(189, 189, 189);
    padding: 0.2em;
}


input {
    height: 2em;
    width: 20em;
    margin:1em;
}

.search1 {
    background-color: whitesmoke;
    border: 1px solid rgb(170, 170, 170);
    display:flex;
    width: 19em;
    border-radius: 2%;
    align-items: center ;
}

.search2 {
    margin-right: 2em;
    margin-left: 1em;
}


.lup
{

    background-color:rgb(221, 218, 218);
    display:flex;
    justify-content : space-between;
    align-items: center;
    height: 6vh;
    padding-left: 0.5em;
    border: 0.5px solid rgb(189, 189, 189);
}

.lup img {
    border-radius: 100px;

}
    


.lup2 {
    display:flex;
    justify-content:space-between;
    width:3em;
    padding-right: 1em;


    
}
.conversations {
    background-color: whitesmoke;

   
   
    
}

.line2{
    margin-left: 1em;
}


.time1{
    display:grid;
    justify-content: end;
    font-size: 10px;
  color:gainsboro;
}

.time2{
    display:grid;
    justify-content: end;
    font-size: 10px;
  color:gainsboro;
}

.time3{
    display:grid;
    justify-content: end;
    font-size: 10px;
  color:gainsboro;
}



.boxrr {
display:flex;
justify-content: end;

font-size: 10px;
color:gainsboro;

}


.mainchat {
    background-color: gainsboro;
    border: 0.1px solid rgb(189, 189, 189);
    display:flex;
    justify-content: space-between;
    height: 9vh;
    font-size: 15px;
    padding: 0.2em;
    
}

.mainchat > p, .oi2 {
    padding-top: .5em;
}



.oi2 {
margin-left: 0.5em;
}
.mainchat > p {
    font-size: 12px;
}

.oi1 {
    display: flex;
  
}


.group {
    display: flex;
    justify-content: space-between;
    background-color:rgb(221, 218, 218);
    height: 6vh;
    padding: 0 3em;
    border: 0.5px solid rgb(189, 189, 189);
    align-items: center;
}

.group img {
    border-radius: 100px;
}

.left {
    display: flex;
    padding: 0 1em;
}

.right {
    margin-right: 2em;
    margin-top: 0.5em;
    display:flex;
    justify-content: space-between;
    width: 4.5em;
}
.messages {
    display: flex;
    flex-direction: column;
    padding: 2em;
   

}
.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: fit-content;
    background-color: whitesmoke;
    padding: 0.5em;
    margin-bottom: 1em;
}

.box_r {
    align-self: flex-end;
    background-color: rgb(212, 233, 215);
    width: fit-content;
}



.typemain {
    display:flex;
    justify-content: space-between;
    background-color: rgba(231, 231, 231, 0.856);
    align-items: center;
    padding:1em;
    height: 5vh;
  
   
}

.typeleft{
    display:flex;
    justify-content:end;
    align-items: center;
    margin-right: 1em;
   

}

.typeright {
    display:flex;
    width: 90%;
   
    align-items: center;
    margin-left:1em;
}

.message {
    background-color: whitesmoke;
    width: 26em;
    height: 6vh;
    border-radius: 100px;
   align-content: center;
  
}

.text21 {
    height: 2em;
    width: 100%;
margin:1em;
align-self: center;

}

.typemain > p {
    margin-right: 1em;

}


.typeright > p {
    margin-left: 0.2em;
}